.questionbox {
    width: 1033px;
    border: solid 1px #D8D8D8;
    background-color: white;
    border-radius: 10px;
    margin: 0 20px 20px;
    padding: 30px 15px 20px 30px;
    display: flex;
}

.questionbox > .contatiner {
    width: 100%;
    margin-right: 15px;
}


.questionbox > .contatiner > .questionbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.questionbox > .contatiner > .questionbar > .question {
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
    width: 800px;
    margin-right: 20px;
}


.questionbox > .contatiner > .questionbar > .buttons {
    display: flex;
    align-items: center;
}

.questionbox > .contatiner > .questionbar > .buttons > .makepublic {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 700;
    color: #A42C25;
    margin-right: 16px;
}

.questionbox > .contatiner > .questionbar > .buttons > .deleteBtn {
    margin-left: 16px;
    width: 34px;
}

.questionbox > .contatiner > .questionbar > .buttons > .deleteBtn:hover {
    content: url(../../../public/images/trash_hover.png);
}


.questionbox > .contatiner > .answerbox {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-top: 10px;
    padding: 24px;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter';
}

.questionbox > .contatiner > .answerbox > .answer > .editAnswer {
    width: 100%;
    padding: 0px;
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;
    background-color: #FBFBFB;
    font-size: 16px;
    font-family: 'Inter';
}

.questionbox > .contatiner > .answerbox > .buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.questionbox > .contatiner > .answerbox > .buttonContainer > .editBtns > .cancelBtn {
    margin-right: 8px;
    padding: 6px 14px;
    border-radius: 6px;
    border: solid 1px #969696;
    background-color: white;
    color: #969696;
}

.questionbox > .contatiner > .answerbox > .buttonContainer > .editBtns > .completeBtn {
    padding: 6px 14px;
    border-radius: 6px;    
    border: none;
    background-color: #A42C25;
    color: white;
}

.questionbox > .contatiner > .answerbox > .buttonContainer > button {
    background: none;
    border: 0px;
    text-decoration: underline;
    color: #646464;
}

.questionbox > .contatiner > .answerbox > .buttonContainer > button:hover {
    color: #404040;
}

.questionbox > .handle {
    margin: auto;
    width: 13px;
    height: 20px;
}

.questionbox > .contatiner > .advanceBtns {
    margin-top: 10px;
}

.questionbox > .contatiner > .advanceBtns > button {
    border: 0;
    border-radius: 6px;
    margin: 0 10px;
    color: white;
    background-color: #5D6DF3;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter';
}

.questionbox > .contatiner > .advanceBtns > button:hover {
    background-color: #525ed1;
}

.questionbox > .contatiner > .advanceBtns > .redoBtn > img {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    background-color: none;
}

.followUpQuestionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin: 0 20px 10px;
}

.followUpQuestionContainer > .followUpQuestion {
    border: solid 1px #D8D8D8;
    max-width: 1038px;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 8px 16px;
    display: flex;
    color: #5D6DF3;
}

.followUpQuestionContainer > .followUpQuestion:hover {
    background-color: #f3f6ff;
}

.followUpQuestionContainer > .tempoQuestionbox {
    width: 1018px;
    border: solid 1px #D8D8D8;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.followUpQuestionContainer > .tempoQuestionbox > .questionbar {
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
    width: 760px;
    margin-right: 20px;
}

.followUpQuestionContainer > .tempoQuestionbox > .answerbox {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-top: 10px;
    padding: 24px;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter';
}

.followUpQuestionContainer > .loadingHolder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}