:root {
    --vh: 1vh;
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage > .title {
    margin-top: 200px;
    display: flex;
    font-family: 'Inter';
    align-items: center;
    color: #A42C25;
    font-size: 40px;
}

.loginPage > .title > .ask {
    font-weight: 700;
}

.loginPage > .loginBox {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 30px;

    width: 500px;
    border: solid 1px #D8D8D8;
    border-radius: 10px;
    padding: 30px 20px;
}

.loginPage > .loginBox > input {
    width: 400px;
    height: 36px;
    margin-top: 14px;
    border: solid 1px #D8D8D8;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 14px;
}

.loginPage > .loginBox > input:focus {
    border: solid 1px #585858;
    outline: none;
}

.loginPage > .loginBox > .submitbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 414px;
    margin: 14px;
    padding-top: 2px;
    background-color: #A42C25;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.loginPage > .loginBox > button:hover {
    background-color: #902822;
}


.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage > .loadingContainer {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}

.mainPage > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    min-height: calc(100 * var(--vh) - 250px);
}

.mainPage > .container > .title {
    width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 28px;
    margin-top: 50px;
    font-family: 'Inter';
    text-align: left;
}

.mainPage > .container > .abstract {
    width: 100%;
    display: flex;
    text-align: left;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Inter';
}

.mainPage > .container > .authors {
    width: 100%;
    display: flex;
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    color: #0602EE;
    font-family: 'Inter';
}

.mainPage > .container > .previewContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.mainPage > .container > .previewContainer > .previewBtn {
    padding: 8px 16px;
    border-radius: 6px; 
    border: none;
    background-color: #6f6f6f;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Inter'; 
    text-decoration: none;  
}

.mainPage > .container > .previewContainer > .previewBtn:hover {
    background-color: #5f5f5f;
}

.subtitleContainer {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-content: center;    
}

.subtitle {
    font-weight: 700;
    font-family: 'Inter';
}

.mainPage > .container > .inputContainer {
    width: 100%;
    display: flex;    
    margin-top: 20px;
    justify-content: space-between;
}

.mainPage > .container > .inputContainer > input {
    width: 88%;
    border: 0px;
    border-radius: 8px;
    height: 42px;
    background-color: #F6F6F6;
    padding-left: 12px;
    font-size: 14px;
    font-family: 'Inter';
}

.mainPage > .container > .inputContainer > input:focus {
    outline: none;
    border: none;
}

.mainPage > .container > .inputContainer > button {
    width: 100px;
    border: 0px;
    border-radius: 8px;
    height: 42px;
    background-color: #A42C25;
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter';
}

.mainPage > .container > .inputContainer > button:hover {
    background-color: #902822;
}

.mainPage > .container > .recommendContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainPage > .container > .recommendContainer > .recommendBtnContainer {
    margin: 10px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.recommendBtn {
    margin: 0 10px;
    border: 0;
    border-radius: 8px;
    color: white;
    background-color: #5D6DF3;
    height: 42px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter';
}

.settingContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
}

.setting {
    margin-left: 4px;
    height: 22px;
    width: 22px;
}

.setting:hover {
    content: url(../../public/images/setting_hover.png);
}

.mainPage > .container > .recommendContainer > .recommendBtnContainer > .recommendBtn:hover {
    background-color: #525ed1;
}

.mainPage > .container > .recommendContainer > .recommendBtn:disabled {
    background-color: #525ed1;
}

.loading {
    margin: 20px 0 10px;
    width: 32px;
    height: 32px;
}

.mainPage > .container > .questionContainer {
    margin-top: 20px;
}

.mainPage > .container > .linkBtnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;    
}

.mainPage > .container > .linkBtnContainer > .linkBtn {
    border: 0px;
    padding: 8px 16px;
    border-radius: 6px; 
    background-color: #A42C25;
    color: white;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter';
    text-decoration: none;
}

.mainPage > .container > .linkBtnContainer > .linkBtn:hover {
    background-color: #902822;
}

.noQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 10vh;
    width: 100%;
    color: #a0a0a0;
    font-family: 'Inter';
}

.mainPage > .footer {
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    height: 100px;
    background-color: #F6F6F6;
}

.tempoQuestionboxContainer {
}

.tempoQuestionboxContainer > .tempoQuestionbox {
    width: 1018px;
    border: solid 1px #D8D8D8;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.tempoQuestionboxContainer > .tempoQuestionbox > .questionbar {
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
    width: 760px;
    margin-right: 20px;
}

.tempoQuestionboxContainer > .tempoQuestionbox > .answerbox {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-top: 10px;
    padding: 24px;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter';
}